
img,
video {
	display: block;
	width: 25%;
}

.padding {
    padding-top: var(--small-gap);
    padding-bottom: var(--small-gap);
}

.caption {
    padding-top: calc(0.5 * var(--small-gap));
    font-style: italic;
}

