:root {
	--pink: rgb(205, 75, 147);
}

main { max-width: 600px }

a { color: var(--pink); }
em { font-style: italic; }
strong { font-weight: bold; }
p { max-width: 50ch; }

body {
	--spacing: 2em;

	font-family: Helvetica;
	font-style: italic;
	text-transform: lowercase;

	padding: var(--spacing);
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#channel-title {
	font-size: 1.5em;
	margin-bottom: 0.5em;
}

#channel-description {
	font-size: 1em;
}

#channel-blocks {
	margin-top: 16.3em;
	padding-left: 30em;
}

#channel-users {
	margin-top: 16.3em;
}

@keyframes move {
    0% { transform: translate(var(--random-x), var(--random-y)); }
    100% { transform: translate(calc(var(--random-x) + var(--random-move-x)), calc(var(--random-y) + var(--random-move-y))); }
}

.circle {
	position: fixed;
    width: 4vw;
    height: 4vw;
    border-radius: 50%;
    overflow: hidden;
	background-color: white;
	left: var(--random-x);
	top: var(--random-y);
	filter: drop-shadow(0 0 0.5em white);
	transition: top 200ms linear, left 200ms linear;
	transition: scale 0.5s ease;
}

.circle::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
	box-shadow: inset -1.5em -1.5em 2.5em rgba(0,0,0,0.2);
}

.circle img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hovering {
	scale: 1.5;
	transition: 0.5s ease;
	cursor: pointer;
  }

.toggle {
	padding: 4px 8px;
	color: var(--pink);
	background-color: white;
	position: absolute;
	z-index: 1;
	top: 2.5vw;
	right: 2.5vw;
	transition: 0.5s ease;
	cursor: pointer;
	user-select: none;
}

.toggle:hover,
.toggle.active {
  color: white;
  background-color: black;
}

