
img,
video {
	display: block;
	width: 100%;
}

.padding {
    padding-top: var(--small-gap);
    padding-bottom: var(--small-gap);
}

.caption {
    padding-top: calc(0.5 * var(--small-gap));
    font-style: italic;
    font-size: var(--root-unit);
}

header {
    padding-top: var(--big-gap);
}

h1 {
    text-align: center;
    font-style: italic;
    font-weight: 400;
}


